<h4>
	Welcome User : <%= id %>
</h4>
<h4>
	All Complaints asdf
</h4>

<% for(let comp of complaints){ %>
	<li>
		<%= comp.title %> | <a href="/user/<%=id%>/complaint/<%=comp.ID%>">View Details</a> | <a href="/user/<%=id%>/complaint_delete/<%=comp.ID%>">Withdraw Complaint</a>
	</li>

<% } %>
