<h2>
	Complaint id : <%= complaint.ID %>
</h2>

<ul>
	<li>
		<b>ID : </b><%=complaint.ID %>
	</li>
	<li>
		<b>Department : </b><%=complaint.dept %>
	</li>
	<li>
		<b>Area Code : </b><%=complaint.areaCode %>
	</li>
	
	<li>
		<b>Description : </b><%=complaint.description %>
	</li>
	
	<li>
		<b>Status : </b> 
		<%= ((complaint._status==0)?'Pending':''); %>
		<% if(complaint._status==1){ %>
			Resolved
			<li>
				<b>Report : </b> <%= complaint.report %>
			</li>
		<% } %>
		<%= ((complaint._status==2)?'Flagged Inappropriate':''); %>
	</li>
	
	<li>
		<b>Created At : </b> <%= complaint.createdAt %>
	</li>

	<br>
</ul>