<h2>
	Complaint id : <%= complaint.ID %>
</h2>

<ul>
	<li>
		<b>ID : </b><%=complaint.ID %>
	</li>
	<li>
		<b>Department : </b><%=complaint.dept %>
	</li>
	<li>
		<b>Area Code : </b><%=complaint.areaCode %>
	</li>
	<li>
		<b>Title : </b><%=complaint.title %>
	</li>
	<li>
		<b>Description : </b><%=complaint.description %>
	</li>
	
	<li>
		<b>Status : </b> 
		<%= ((complaint._status==0)?'Pending':''); %>
		<% if(complaint._status==1){ %>
			Resolved
			<li>
				<b>Report : </b> <%= complaint.report %>
			</li>
		<% } %>
		<%= ((complaint._status==2)?'Marked As Inappropriate':''); %>
		<% if(complaint._status==3){ %>
			Inappropriate (Discarded)
			<li>
				<b>Report : </b> <%= complaint.report %>
			</li>
		<% } %>
		<%= ((complaint._status==4)?'Pending (Marked Appropriate)':''); %>
	</li>
	
	<li>
		<b>Created At : </b> <%= complaint.createdAt %>
	</li>

	<br>
	
	<% if(complaint._status==0 || complaint._status==4){ %>
		<% if(complaint._status!=4){ %>
			<form action="/municipal/<%=complaint.ID %>/flag" method="POST">
				<button>
					Flag Inappropriate
				</button>
			</form>
		<% } %>
		<form action="/municipal/<%=complaint.ID %>/resolve" method="GET">
			<button>
				Resolve
			</button>
		</form>
	<% } %>
</ul>